<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

<!-- 	<security-role> -->
<!-- 		<role-name>admin</role-name> -->
<!-- 	</security-role> -->

<!-- 	<security-constraint> -->

<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>Secure Content</web-resource-name> -->
<!-- 			<url-pattern>/api/v1/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 		<auth-constraint> -->
<!-- 			<role-name>admin</role-name> -->
<!-- 		</auth-constraint> -->
<!-- 		<user-data-constraint> -->
<!-- 			<transport-guarantee>NONE</transport-guarantee> -->
<!-- 		</user-data-constraint> -->
<!-- 	</security-constraint> -->

<!-- 	<login-config> -->
<!-- 		<auth-method>BASIC</auth-method> -->
<!-- 		<realm-name>The Restricted Zone API</realm-name> -->
<!-- 	</login-config> -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>